// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html {
    position: relative;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {

}

body.body_login {
  background-color:#e9ebee;
}

body.body_logoff {
  background: linear-gradient(white, #D3D8E8);
}

footer {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    font-size: 12px;
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #737373;
    margin: 0 auto;
    background-color: #fff;
}

input, select, textarea {
  color: black;
}

.navbar-default {
  border: 0;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  border-radius: 0px;
  min-height: 42px;
  color: white;
}

.container-fluid {
  max-width: 980px;
}

#top_main {
  margin-bottom: 80px;
}

.form-control:focus,
.form-control:hover,
.form-control:active {
  border: 1px solid #133783;
}

.logo_container_logoff img{
  max-width: 250px;
}

.logo_container_logoff {
  padding-top: 15px;
}

.logo_container_login img{
  max-width: 25px;
  border-radius: 2px;
}

.logo_container_login {
  padding: 15px 15px 0px 15px;
}

.login_form_box {
  display: flex;
  width: 450px;
  margin-left: auto;
}

#login_form_email_box {
  padding: 0px 0px 0px 5px;
  font-weight: normal;
}

#login_form_email {
  width: 150px;
  height: 25px;
  border-radius: 0px;
}

#login_form_pwd_box {
  padding: 20px 5px 0px 5px;
  font-weight: normal;
}

#login_form_pwd {
  width: 150px;
  height: 25px;
  border-radius: 0px;
}

#login_form_btn_box {
  padding-top: 42px;
}

#login_btn {
  width: 70px;
  height: 28px;
  border-radius: 2px;
  border: solid 1px #003366;
  background-color: #3b5998;
  font-size: 11px;
  margin: 0px 0px 0px 0px;
}

#login_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.form-group a{
  text-decoration: none;
  color: gray;
}

.header_signed_in {
  width: 330px;
  display: flex;
  margin-left: auto;
}

#bs-example-navbar-collapse-1 {
  // margin-left: auto;
}

.header_user_edit {
  padding-right: 5px;
}

.header_user_edit a{
  display: block;
  padding: 4px 3px 0px 3px;
  min-width: 60px;
  text-align: center;
  color: white;
  text-decoration: none;
}

#user_edit_btn {
  height: 25px;
  border-radius: 3px;
  border: solid 1px #3b5998;
  background-color: #4e69a2;
  font-size: 12px;
  margin-top: 12px;
}

#user_edit_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.header_topic_index {
  padding-right: 5px;
}

.header_topic_index a{
  display: block;
  padding: 5px 3px 0px 3px;
  min-width: 60px;
  text-align: center;
  color: white;
  text-decoration: none;
}

#topic_index_btn {
  height: 25px;
  border-radius: 3px;
  border: solid 1px #3b5998;
  background-color: #4e69a2;
  font-size: 12px;
  margin-top: 12px;
}

#topic_index_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.header_all_user {
  padding-right: 5px;
}

.header_all_user a{
  display: block;
  padding: 5px 3px 0px 3px;
  min-width: 60px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.header_logoff {
}

.header_logoff a{
  display: block;
  padding: 17px 3px 0px 3px;
  min-width: 60px;
  text-align: center;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

#all_user_btn {
  height: 25px;
  border-radius: 3px;
  border: solid 1px #3b5998;
  background-color: #4e69a2;
  font-size: 12px;
  margin-top: 12px;
}

#all_user_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.user_edit_profile_image {
  padding: 10px 0px 10px 0px;
}

.user_edit_profile_image img{
  width: 80px;
}

.container {
  padding-bottom: 150px;
}

.top_left_area {
  width: 100%;
  margin-top: 30px;
}

.top_left_area_message {
  display: block;
  font-size: 21px;
  font-weight: bold;
}

.top_left_area_image {
}

.top_left_area_image img{
  width: 100%;
}

.top_right_area {

}

.top_right_area_title {
  font-size: 32px;
  font-weight: bold;
}

.top_right_area_message {
  font-size: 17px;
  padding-bottom: 5px;
}
.top_reg_field {
  margin: 10px 0px 10px 0px;
}

#account_reg_button {
  padding: 7px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);

  border: 1px solid ;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-top: 20px;

  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  min-width: 194px;
}

#topic_create_area {
  margin: 10px 0px 10px 0px;
  background-color: white;
  border: solid #D3D3D3 1px;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
}

.topic_create_user_form {
  display: flex;
  padding-bottom: 10px;
}

.topic_create_form {
  flex: 1;
}

textarea {
  resize: none;
}

.topic_uploader_message {
  font-size: 12px;
  color: #999;
  padding-left: 3px;
  margin-bottom: 3px;
}

.topic_new_picture_img_area img{
  width: 100%;
}

#topic_form {
  border-radius: 0px;
}

#topic_picture {

}

.topic_posting_btn_area {
  padding-top: 10px;
}

#topic_posting_btn {
  margin-left: auto;
  width: 100px;
  height: 25px;
  border-radius: 0px;
  border: #3b5998;
  background-color: #3b5998;
  font-size: 11px;
  padding-left: 10px;
  padding-top: 5px;
}

#topic_posting_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.topic_box {
  margin: 10px 0px 10px 0px;
  background-color: white;
  border: solid #D3D3D3 1px;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
}

.topic_user_area {
  display: flex;
}

.topic_profile_image {

}

.topic_profile_image img{
  width: 45px;
  display: block;
  padding: 5px 5px 0px 0px;
}

.topic_action_area {
  margin: 0px;
  padding: 5px 0px 0px 5px;
}

.topic_user_name {

}

.topic_post_time {
  font-size: 12px;
  color: #999;
}

.topic_content_area {
  display: block;
  padding-left: 10px;
  padding-right: 8px;
  word-wrap: break-word;
}

.topic_picture_area {
  text-align: center;
}

.topic_picture_area img{
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.btn_box {
  padding: 5px 0px 5px 0px;
}

.btn_area {
  display: flex;
  width: 104px;
  margin-left: auto;
}

#topic_btn {
  width: 50px;
  height: 25px;
  border-radius: 0px;
  border: #3b5998;
  background-color: #3b5998;
  font-size: 11px;
  margin: 0px 0px 0px 2px;
}

#topic_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.comment_area {
  padding-top: 5px;
  border-top: solid 1px #ecf0fe;
}

.comment_user_area {
  display: flex;
  margin-bottom: 0px;
}

.comment_profile_image {
  padding: 3px 0px 0px 0px;
}

.comment_profile_image img{
  width: 25px;
}

.comment_user_name {
  padding: 5px 0px 0px 10px;
}

.pass_time {
  margin-left: auto;
  font-size: 13px;
  color: #999;
  padding-top: 5px;
}

.comment_content {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  word-wrap: break-word;
}

.comment_edit_delete_icons {
  width: 50px;
  margin-left: auto;
  padding-left: 5px;
  padding-bottom: 5px;
}

.comment_form_box {
  display: flex;
  padding-top: 10px;
}

#comment_form_area {
  flex: 1;
  padding-right: 10px;
}

#comment_form {
  border-radius: 0px;
  height: 25px;
}

#comment_submit_btn {
  width: 50px;
  height: 25px;
  border-radius: 0px;
  border: #3b5998;
  background-color: #3b5998;
  font-size: 11px;
  margin: 0px 0px 3px 2px;
}

#comment_submit_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.user_index_area {
  display: flex;
  padding: 8px 0px 8px 0px;
  border-bottom: solid 1px #D3D8E8;
}

.user_index_profile_image {
}

.user_index_profile_image img{
  width: 40px;
  border-radius: 50%;
}

.user_index_name {
  padding: 10px 0px 0px 10px;

}

.user_index_btn_box {
  display: flex;
  margin-left: auto;
}

.user_index_message_button {
}

#user_index_message_btn {
  width: 100px;
  height: 28px;
  border-radius: 0px;
  border: #3b5998;
  background-color: #3b5998;
  font-size: 11px;
  margin: 8px 0px 0px 10px;
}

#user_index_message_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.user_index_follow_form {
}

#user_follow_btn {
  width: 100px;
  height: 28px;
  border-radius: 0px;
  border: #3b5998;
  background-color: #3b5998;
  font-size: 11px;
  margin: 8px 0px 0px 5px;
}

#user_follow_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

#user_unfollow_btn {
  width: 100px;
  height: 28px;
  border-radius: 0px;
  border: #D3D3D3;
  background-color: #D3D3D3;
  font-size: 11px;
  margin: 8px 0px 0px 5px;
  color: black;
}

#user_unfollow_btn:hover {
  filter:alpha(opacity=80);
  opacity:0.6;
}

.user_show_area {
  display: flex;
}

.user_show_profile_image {

}

.user_show_profile_image img{
  width: 80px;
}

.user_show_name {
  font-size: 30px;
  padding: 20px 0px 0px 10px;
}

.user_show_follow_form {
  margin-left: auto;
  padding: 20px 0px 0px 10px;
}
